<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.frankzhou.community.mapper.UserCollectionMapper">

    <resultMap id="BaseResultMap" type="com.frankzhou.community.model.entity.UserCollection">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="collectionId" column="collection_id" jdbcType="BIGINT"/>
            <result property="collectionName" column="collection_name" jdbcType="VARCHAR"/>
            <result property="collectionDesc" column="collection_desc" jdbcType="VARCHAR"/>
            <result property="permission" column="permission" jdbcType="INTEGER"/>
            <result property="isDefault" column="is_default" jdbcType="INTEGER"/>
            <result property="subscribeCount" column="subscribe_count" jdbcType="INTEGER"/>
            <result property="articleCount" column="article_count" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="createUser" column="create_user" jdbcType="VARCHAR"/>
            <result property="updateUser" column="update_user" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,collection_id,collection_name,
        collection_desc,permission,is_default,
        subscribe_count,article_count,create_time,
        update_time,create_user,update_user,
        status
    </sql>
</mapper>
